{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Membro</title>
</head>
<body>

     <!--DTL (Django Template Engine)--> 
     {% if cards %}
     <h6>Ùltimos membros cadastros</h6>
     {% for membro in cards %}
        <p>{{membro.nome}}</p>            
     {% endfor %}
     {% else %} 
        <!--<p>Maravilha! Você será o  primeiro na nossa plataforma! Uau!</p>-->
     {% endif %}


    <form action="#" method="POST">
       email <input type="email" name="usuario">
       senha <input type="password" name="senha">
       
         <p>ID do Gênero: {{ chave }} - Nome: {{ valor.nome }}</p>
     
       <select>
           {% for genero in generos %}
               <option value="{{genero.id}}">{{genero.nome}}</option>
           {% endfor %}          
       </select>
       <button> ENTRAR</button>
    </form>    
</body>
</html>