<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senai Games</title>
</head>
<body>
    <h1>Senai Games</h1>
    <h2>Inteligência Artificial</h2>
    <h3>Análise de Sentimentos</h3>
    <h4>Ambiente Acolhedor e Inclusivo</h4>
    <h5>Jogos, Educação e Business</h5>
    <h6>Tudo em um só lugar</h6>

    <p>Com mais um click, você entrará em nosso ambiente 
        gratuito de jogos e 
        criação de jogos</p>

    <form>
        <input type="text" required name="nome" placeholder="qual é o seu nome?">
        <input type="text" name="apelido" placeholder="qual é o seu nickname?">
        <select>
            <option selected> Qual o seu gênero preferido?</option>
            <option>Visual Novel</option>
            <option>RPG</option>
            <option>Plataforma</option>
        </select>
        <input type="email" required name="e-mail" placeholder="qual é o seu e-mail?">
        <input type="password" required name="senha" placeholder="informe a senha">
        <button>Cadastrar</button>
    </form>
</body>
</html>